Name = {{ inventory_hostname }}
AddressFamily = ipv4
Interface = {{ vpn_interface }}
{% for host in play_hosts %}
{% if inventory_hostname != hostvars[host]['inventory_hostname'] %}
ConnectTo = {{ hostvars[host]['inventory_hostname'] }}
{% endif %}
{% endfor %}


{% if encryption == false %}
Cipher = none
Digest = none
Compression = none
{% endif%}

PMTU = 9000
TunnelServer = no
Forwarding = off
DirectOnly = yes